*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/2013-09-08 LightSecondDeviceControl/ClassRoom/nbproject/private/
/2013-09-08 LightSecondDeviceControl/mavenproject1/target/
/2013-09-08 LightSecondDeviceControl/ClassRoom/build/
/2013-09-08 LightSecondDeviceControl/UnifiedDeviceInterface/build/
/2014-03-24 Utilities/SystemUtilities/nbproject/private/
/2014-03-24 Utilities/SystemUtilities/build/