*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/2013-09-08 LightSecondDeviceControl/ClassRoom/nbproject/private/
/2013-09-08 LightSecondDeviceControl/mavenproject1/target/
/2013-09-08 LightSecondDeviceControl/ClassRoom/build/
/2013-09-08 LightSecondDeviceControl/UnifiedDeviceInterface/build/
/2014-03-24 Utilities/SystemUtilities/nbproject/private/
/2014-03-24 Utilities/SystemUtilities/build/
/2014-03-24 Utilities/StandardTimeEventFile/nbproject/private/
/2013-09-08 LightSecondDeviceControl/StandardTimeEventFile/build/
/2013-09-08 LightSecondDeviceControl/StandardTimeEventFile/dist/
/2014-03-24 Utilities/SystemUtilities/dist/
/2014-03-24 Utilities/Mathematics/nbproject/private/
/2014-03-24 Utilities/Mathematics/build/
/2014-04-15 Storage/Storage/nbproject/private/
/2014-04-15 Storage/Storage/build/
/2014-05-09 IOSBackup/IOSBackup/nbproject/private/
/2014-05-09 IOSBackup/IOSBackup/build/
/2014-05-14 PaperOrgnizer/PaperOrgnizer/nbproject/private/
/2014-05-14 PaperOrgnizer/PaperOrgnizer/build/
/2014-05-14 PaperOrgnizer/PaperOrgnizer/dist/
/2014-06-14 CrystalOptics/Optics/nbproject/private/
/2014-06-14 CrystalOptics/JScienceExtension/nbproject/private/
/2014-03-24 Utilities/JScienceExtension/build/
/2014-06-14 CrystalOptics/Optics/build/
/2014-06-14 CrystalOptics/CrystalOptics/nbproject/private/
/2014-06-14 CrystalOptics/CrystalOptics/build/
/2014-08-29 FigureRenderer/FigureRenderer/nbproject/private/
/2014-08-29 FigureRenderer/FigureRenderer/build/
/2014-03-14 UnifiedDeviceInterface/UnifiedDeviceInterface/nbproject/private/
/2014-03-14 UnifiedDeviceInterface/UnifiedDeviceInterface/build/
/2014-03-14 UnifiedDeviceInterface/VirtualInstruments/nbproject/private/
/2014-03-14 UnifiedDeviceInterface/UnifiedUserInterface/nbproject/private/
/2014-03-14 UnifiedDeviceInterface/UDITest/nbproject/private/
/2014-03-14 UnifiedDeviceInterface/UDITest/build/
/2014-03-14 UnifiedDeviceInterface/VirtualInstruments/build/
/2014-03-14 UnifiedDeviceInterface/UnifiedUserInterface/build/
/2014-03-14 UnifiedDeviceInterface/UnifiedDeviceInterface/dist/
/2014-03-14 UnifiedDeviceInterface/UnifiedUserInterface/dist/
/2014-03-14 UnifiedDeviceInterface/VirtualInstruments/dist/
/2014-03-14 UnifiedDeviceInterface/UDITest/dist/
/2014-03-14 UnifiedDeviceInterface/TimeEventData/nbproject/private/
/2014-03-14 UnifiedDeviceInterface/TimeEventData/build/
/2014-03-14 UnifiedDeviceInterface/PXITimeEventDeviceData/nbproject/private/
/2014-03-14 UnifiedDeviceInterface/TimeEventData/dist/
/2014-03-14 UnifiedDeviceInterface/PXITimeEventDeviceData/build/
/2014-03-14 UnifiedDeviceInterface/PXITimeEventDeviceData/dist/
/2014-03-24 Utilities/JScienceExtension/dist/
/2014-06-14 CrystalOptics/CrystalOptics/dist/
/2014-06-14 CrystalOptics/SPDCSpectrumCorrelation/build/